@import '../../styles/variables';

.country-card {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-radius: 4px;
  min-height: 400px;
  max-width: 300px;
  box-shadow: 3px 2px 2px 2px #F6F6F6;
  cursor: pointer;

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .card-content {
    p {
      font-size: 15px;
      font-weight: bolder;
    }

    .card-details {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 0 20px;
    }
  }
}