.dropdown-container {
  .dropdown-select {
    background-color: #ffffff;
    box-shadow: 1px 2px 3px 1px lightgrey;
    padding: 5px 10px;
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
  }
}