.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 70px;
  box-shadow: 3px 4px 2px 1px #F6F6F6;
  background-color: $color-white;

  h1 {
    font-size: 20px;
  }

  .dark-mode-btn {
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;

    img {
      width: 25px;
      height: 25px;
    }
  }
}