@use "variables.module";
@use "toggle.module";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 70px;
  box-shadow: 1px 2px 2px 1px variables.$primary-shadow-color;
  background-color: variables.$color-white;

  .header-title {
    font-size: 20px;
  }

  .dark-mode-btn {
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;

    .dark-mode-icon {
      width: 25px;
      height: 25px;
    }
  }
}