@import "variables.module";
@import "toggle.module";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 70px;
  box-shadow: 1px 2px 2px 1px $primary-shadow-color;
  background-color: $color-white;

  h1 {
    font-size: 20px;
  }

  .dark-mode-btn {
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;

    img {
      width: 25px;
      height: 25px;
    }
  }
}