$primary-light-color: #F7FAFA;
$primary-text-color-light: #000000;
$primary-shadow-color: #F6F6F6;
$dark-shadow-color: #004019;
$color-white: #ffffff;
$color-black: #000000;
$font-stack: Arial, sans-serif;