@import '../../styles/variables';

input {
  width: 400px;
  height: 50px;
  padding-left: 20px;
  outline: none;
  border: none;
  font-size: 17px;
  box-shadow: 1px 2px 3px 1px $primary-shadow-color;
}