.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.modal {
  width: 85%;
  height: 85%;
  margin: 150px auto;
  background-color: #ffff;
  border-radius: 10px;
  padding: 0;
  position: relative;
  top: -8%;

  .close-button {
    display: flex;
    padding-left: 35px;

    .close-btn{
      background-color: #ebebf2;
      border-radius: 3px;
      cursor: pointer;
      font-size: 1.1rem;
      padding: 1rem 2rem;
      margin-top: 2rem;
      outline: none;
      border: none;
      font-weight: 300;
      text-transform: uppercase;
    }

    .close-btn:hover,
    .close-btn:focus{
      background-color: #9393B2;
      color: #ffff;
    }
  }

  .modal-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 35px;

    img {
      width: 42%;
    }

    .modal-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 40%;

      .modal-details {
        display: flex;
        gap: 20px;
      }

      .border-countries {
        span {
          width: 50px;
          padding: 10px 20px;
          box-shadow: 1px 1px 1px lightgrey;
          margin: 0 10px;
        }
      }

      p {
        text-align: left;
      }
    }
  }
}

.modal-name {
  font-size: 2rem;
  font-weight: 600;
}

