header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 70px;
  box-shadow: 0 4px 2px -2px gray;

  h1 {
    font-size: 20px;
  }

  .dark-mode-btn {
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;

    img {
      width: 25px;
      height: 25px;
    }
  }
}