header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 70px;
  box-shadow: 0 4px 2px -2px gray;

  h1 {
    font-size: 20px;
  }

  .dark-mode-btn {
    display: flex;
    align-items: center;
    gap: 7px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;

    img {
      width: 25px;
      height: 22px;
    }
  }
}