@use "styles/header.module";
@use "styles/searchBar.module";
@use "styles/filter.module";
@use "styles/modal.module";
@use "styles/layout.module";
@use "styles/card.module";
@use "styles/grid.module";

#root {
  padding: 0;
  text-align: center;
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
}